.home-section .summary-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.summary-section .summary-container {
  width: 80%;
  font-family: Simplon Norm;
  text-align: center;
  vertical-align: middle;
  margin-top: 72px;
}

.summary-container .summary-heading {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.summary-container .summary-details {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0px;
  margin-top: 16px;
}

.home-section .filter-action-desktop {
  padding: 24px 96px;
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
}

.filter-action-desktop .filter-action-container {
  line-height: 40px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.filter-action-container .product-count {
  font-family: Simplon Norm;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  margin-right: 80px;
}

.filter-action-container .filter-toggle {
  font-family: Adobe Caslon Pro;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: #888792;
  cursor: pointer;
}

.filter-action-container .filter-toggle img {
  margin-right: 8px;
}

.home-section .filter-action-mobile {
  display: none;
}

.home-section .dashboard-section {
  display: block;
  padding: 24px 96px;
}

.home-section .dashboard-section.grid-section {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 10%;
  padding: 24px 96px;
}

.filter-menu > label {
  font-family: Simplon Norm;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.filter-menu input[type="checkbox"] {
  border: 0.92px solid #4d4d4d;
  margin-right: 8px;
}

.filter-menu hr {
  color: #e5e5e5;
  margin-top: 24px;
}

.filter-menu.show {
  display: block;
}

.filter-menu.hide {
  display: none;
}

.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  place-items: center;
}

@media screen and (max-width: 710px) {
  .home-section .filter-action-desktop {
    padding: 16px;
  }

  .home-section .dashboard-section {
    padding: 16px;
  }

  .home-section .dashboard-section.grid-section {
    padding: 16px;
  }
}

@media screen and (max-width: 576px) {
  .summary-section .summary-container {
    margin-top: 0px;
  }

  .summary-container .summary-heading {
    font-size: 24px;
    letter-spacing: 0px;
  }

  .summary-container .summary-details {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .home-section .filter-action-desktop {
    display: none;
  }

  .home-section .filter-action-mobile {
    display: grid;
    grid-template-columns: 40% 10% 40%;
    align-items: center;
    border: 1px solid #e5e5e5;
    padding: 12px 0px;
    font-family: Simplon Norm;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-top: 16px;
  }

  .home-section .filter-action-mobile span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-section .filter-action-mobile .divider {
    font-weight: bolder;
    color: #e5e5e5;
  }

  .home-section .dashboard-section {
    display: flex;
    justify-content: center;
  }

  .home-section .dashboard-section.grid-section {
    display: grid;
    grid-template-columns: auto;
  }

  .filter-menu.show {
    display: none;
  }
}
